doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css')
    script(src='https://code.jquery.com/jquery-2.2.2.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
    script(src='/javascripts/jquery.validate.min.js')
  body
    nav
      .nav-wrapper
        a.brand-logo(href='/') Complaints
        //- form
        //-   .input-field
        //-     input#search(type='search' required)
        //-     label(for='search')
        //-       i.material-icons search
        ul.right.hide-on-med-and-down#nav-mobile
          li
            a(href='#') One
          li
            a(href='#') Two
          li
            a(href='#') Three
    block content
